.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(86, 86, 86);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}
.small{font-size:small;}

.tablehead{
    background-color: rgba(255,255,255,0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(57, 57, 57);
    font-size: 20px;
    border-spacing: 40px;
    margin-top: 40px;
    border-collapse: collapse;
}

.tgb{
  border-collapse: collapse;
  background-color:rgba(255,255,255,0.5);
  color:rgb(71, 71, 71);
  font-size:20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  border-spacing: 40px;
  margin-top: 40px;
}

.middle{
  margin-left: auto;
  margin-right: auto;
}

.back{
  background-color: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 64%);
}

