.headline {
  color: rgb(86, 86, 86);
  font-size:xx-large;
  display: inline-block;
  margin: 30px;
  background-color: #eeaecabd;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;  
}

body {
  font-family: "Sour Gummy", sans-serif;
}

.sour-gummy-uniquifier  {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.small {
  font-size: medium;
   color: rgb(68, 66, 66);
}

.tablehead {
  background-color: rgba(255, 255, 255, 0.238);

  color: rgba(57, 57, 57, 0.766);
  font-size: 20px;
  border-spacing: 40px;
  margin-top: 40px;
  border-collapse: separate;
}

.tablehead th {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 12px 18px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
}

.tgb {
  border-collapse: separate;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(71, 71, 71, 0.637);
  font-size: 20px;
 
  border-spacing: 40px;
  margin-top: 40px;
  text-align: center;
}

.tgb td,
.tgb th {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.7);
}

td:nth-child(7n + 7) {
  background-color: #EEAECA;
}

.tgb td:hover {
  background-color: rgba(188, 105, 158, 0.358);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.middle {
  margin: 0;
}

.back {
  background-color: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 64%);
}

.wrapper {
  display: flex;
  gap: 5px;              
  align-items: flex-start; 
  justify-content: center;
  }